<div class='cs-player-box cs-player-box-item cs-player-box-grid'>

  <%= render partial: 'player_box_grid', locals: { grid: player.grid } %>

</div>

<div class='cs-player-box cs-player-box-item cs-player-box-info js-player-box-info'>

  <%= render partial: 'player_box_info', locals: { piece_preview: player.piece_preview } %>

</div>
