<div class='cs-player-box cs-player-box-grid'>

  <%= render partial: 'player_box_grid', locals: { grid: player.grid } %>

</div>

<div class='cs-player-box cs-player-box-info'>

  <%= render partial: 'player_box_info', locals: { player: player } %>

</div>
