<% preview_box_width = 4 %>

<table class='cs-fill cs-player-box-grid cs-player-box-preview'>

  <th colspan='<%= preview_box_width %>'>

  </th>

  <tr colspan='<%= preview_box_width %>'>
    <td rowspan='<%= preview_box_width %>' style='text-align: center;'>
      <div> <strong> Lines </strong> </div>
      <br>
      <div class='js-line-count'> 0 </div>
    </td>
  </tr>

</table>
